<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Custom Toolbar</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <br />

  <div>
    <mat-nav-list class="list-primary" dense>
      <mat-list-item focus *ngFor="let link of links">
        <a matLine>{{ link }}</a>
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <br />

  <div>
    <form class="form">
      <div class="container">
        <mat-slide-toggle color="primary"
          >Show completed todos?</mat-slide-toggle
        >
        <mat-form-field>
          <input matInput placeholder="What to do?" />
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Todo category">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>

  <mat-card class="card fix-height">
    <div class="full-size">
      <mat-card-header>
        <mat-card-title>Todo category</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>The Shiba Inu is the smallest of the six... The Shiba Inu is</p>
      </mat-card-content>
    </div>

    <div>
      <mat-card-actions>
        <!-- <mat-chip-list>
						<mat-chip color="primary" selected="true">  <mat-icon>done</mat-icon></mat-chip>
						<mat-chip color="warn" selected="true">  <mat-icon>delete</mat-icon></mat-chip>
					</mat-chip-list> -->
        <div class="button-row">
          <button mat-mini-fab color="primary">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-mini-fab color="accent">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
